{% extends 'base.html.twig' %}


{% block body %}
<h1>Bienvenue dans ce blog!</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, iusto. Quisquam sunt assumenda, accusantium esse
    deleniti magni itaque consectetur doloremque nihil omnis repellat veniam adipisci. Quae alias fugit cupiditate ad,
    asperiores ipsam nostrum. Quaerat deserunt assumenda sunt voluptas consequatur. Iure!</p>
<p>Accusantium deleniti facilis quo laboriosam ullam, assumenda similique pariatur illo quia aspernatur quos natus
    excepturi iste debitis quaerat. Saepe perferendis accusamus similique quaerat inventore quae quam vel velit alias
    necessitatibus, totam maiores libero quasi, doloribus dolorum provident voluptatibus ab doloremque?</p>
{% endblock %}